<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <!-- the task_path comes from labeling (in routes) tasks/:id as: :task - then when calling :task, you call it task_path -->
    <li>
    <%# use bootstrap for checkdox for done, for now using <strike> %>
      <% if task.completed? %>
        <strike><%= link_to(task.title, task_path(task)) %></strike>
      <% else %>
        <%= link_to(task.title, task_path(task)) %>
      <% end %>
      <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
        (<small>Delete</small>)
      <% end %>
    <%# use bootsrap for styling - eg use icon of bin for delete %>
    </li>
  <% end %>
</ul>

<h2><%= link_to("Add new task", task_new_path) %></h2>
